*.class
*.ear
*.iml
*.jar
*.war
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
._*
.buildpath
.classpath
.idea
.mtj.tmp/
.project
.settings
.~lock.*
Thumbs.db
composer.lock
ehthumbs.db
hs_err_pid*
nbproject
target
RemoteSystemsTempFiles

